.centered-element {
    background-image : url('/quiz.jpg');
       display: flex;
       position: fixed;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
     }

.gridDisplay {
  display: grid;
}
.card {
  width: 100%;
}
.btn-active{
  background-color: #bd5d38;
}
.submit{
  margin-bottom: 5%;
  margin-left: 5%;
  background-color: #bd5d38;
}
.result{
  display: flex;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  align-items: center;
  font-size: xx-large;
  font-weight: 500;
  font-style: italic;
  margin-top: 10px;
}
.resetButton{
  margin-bottom: 2%;
}